nav ul li {
    display: inline-block;
}
nav ul li a:hover {
    background: lime;
}

footer {
    display: block;
    margin: auto;
    clear: both;
}
aside {
    float: right;
}


nav ul li a {
    display: block;
    font-size:larger;
    text-decoration: none;
    padding: 8px;
    text-transform: capitalize;
}
body {
    width: 1000px;
    margin: auto;
    background-image: url("../img/wolf.png");
    background-repeat: repeat;
}
header {
    background-color: antiquewhite;
}

nav {
    background-color: aqua;
}

section {
    background-color: aquamarine;
}

footer {
    background-color: mediumaquamarine;
}

aside {
    background-color: cadetblue;
}

details {
    background-color: tomato;
}

summary {
    background-color: darkcyan;
}
head, h1, h2, h3,h4 {
    text-transform: uppercase;
}
table.infoTable table.infoTable tr, table.infoTable th, table.infoTable td{
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
}
table.infoTable td, table.infoTable th {
    padding: 13px;
}
table.infoTable {
    margin: 15px;
}
table.edu table.edu tr, table.edu th, table.edu td{
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
}
table.edu td, table.edu th {
    padding: 13px;
}
table.edu {
    margin: 15px;
}
form input[type=reset]:hover, form input[type=submit]:hover {
    background-color:lime;
}
.label {
    float: left;
}
form fieldset {
    margin: 10px;
}
form input, form select {
    background-color: chocolate;
    border: 1px solid;
}
ul {
    margin-left: 20px;
    list-style-image: url("../img/woll.jpeg");
}
.cooki {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    color: lightgray;
    padding: 10px;
}